.content {
    display:contents;
    flex-direction: column;
    height: 70vh;
  }
  
  .view {
    min-height: 78.9vh;
    width: 98%;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }