.buttons-container {

    margin-top: 1vh;
    width: 6.5vw;
}

.buttons {
    width: 6.5vw;
    margin-top: 0.3vh;
}

.imageDisconnect {
    width: 1.8vw;
    height: 3.5vh;
    margin-left: 1vw;
    margin-right: 1vw;
}



