.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f2f59ff;
    max-height: 10vh;
  }
  
  .footer-text {
    color: white;
    text-align: center;
    line-height: 7vh;
  }